---
title: "반복문"
format: 
  html:
    code-fold: false
    badges: true
author: '조윤호'
date: '8/17/2022'
title-block-banner: true
jupyter: R
categories: [R]
---

# 반복문

apply(lapply, sapply), map(map2, pmap, invoke_map), reduce

In [57]:
library('tidyverse')
library('data.table')

In [2]:
df <- tibble(
    a = rnorm(10),
    b = rnorm(10),
    c = rnorm(10),
    d = rnorm(10)
    )

In [3]:
median(df$a)

[1] 0.3620105

In [4]:
output <- vector("double", ncol(df))
for(i in seq_along(df)){
    output[[1]] <- median(df[[i]])
    }
output

[1] -0.1134823  0.0000000  0.0000000  0.0000000

In [5]:
y <- vector("double", 0)
seq_along(y)

integer(0)

In [6]:
1:length(y)

[1] 1 0

`seq_along` : 간격 1로 고정된 `seq`<br>
예를들어, seq_along(1:10) = 1,2,3....10으로 출력

`range` : 입력값들 중에서 최소값과 최대값 출력

`-` for문 사용해서 데이터프레임 변경 예시

In [7]:
df <- tibble(
    a = rnorm(10),
    b = rnorm(10),
    c = rnorm(10),
    d = rnorm(10)
    )
df_ori <- copy(df)
rescale01 <- function(x){
    rng <- range(x, na.rm = TRUE)
    (x - rng[1]) / (rng[2] - rng[1])
    }

In [8]:
df_ori

   a            b           c           d
1   0.101961343 -0.71086623 -0.25512630  0.5539966
2  -0.316890930 -1.53110514 -0.46776683  0.4088169
3   0.475460867  0.69184710 -0.52080481 -1.1331320
4   0.633766246 -0.34604681 -0.25575415  0.2928074
5  -0.001845828 -0.25148523  0.91689638  0.1911644
6   0.455532073 -1.04661644  0.40009228  0.6358231
7   0.043596138  1.04180720  1.33016238  1.3531848
8   0.348391867  0.97740881  0.06871437 -2.3191413
9   0.582021699 -0.04129945  0.54256432  0.8905353
10  0.074872799  0.48993701  0.04458287  0.9957713

In [9]:
df$a <- rescale01(df$a)
df$b <- rescale01(df$b)
df$c <- rescale01(df$c)
df$d <- rescale01(df$d)

- 변경해주는 것도 for문 사용해서 변경하기

In [10]:
for (i in seq_along(4)){
    df[[i]] <- rescale01(df[[i]])
    }

In [11]:
df

   a         b         c         d
1  0.4405923 0.3187978 0.1435350 0.7823755
2  0.0000000 0.0000000 0.0286542 0.7428420
3  0.8334780 0.8639829 0.0000000 0.3229586
4  1.0000000 0.4605902 0.1431958 0.7112518
5  0.3313972 0.4973430 0.7767297 0.6835737
6  0.8125148 0.1883036 0.4975221 0.8046574
7  0.3791978 1.0000000 1.0000000 1.0000000
8  0.6998136 0.9749706 0.3184925 0.0000000
9  0.9455697 0.5790348 0.5744938 0.8740173
10 0.4120978 0.7855076 0.3054553 0.9026738

#### 길이를 모르는 출력<br>
- 벡터를 점진적으로 늘려가는 방법으로 해결한다면?

`rnorm(n, mean, sd)` : 정규분포 난수 만들기<br>
`double` : 소수점 얼마얼마 숫자(정수도 가능)<br>
`length` : vector 개수 세기

In [12]:
means <- c(0, 1, 2)

output <- double()
for (i in seq_along(means)){
    n <- sample(100, 1) # 1~100중 1개 선택
    output <- c(output, rnorm(n, means[[i]]))
    }
str(output)

 num [1:110] -0.7369 0.0787 -2.256 -0.6757 0.1158 ...

In [13]:
out <- vector("list", length(means))
for(i in seq_along(means)){
    n <- sample(100,1)
    out[[i]] <- rnorm(n, means[[i]])
    }
str(out)

List of 3
 $ : num [1:75] 0.4274 0.0549 -0.223 1.2001 0.123 ...
 $ : num [1:98] 1.6386 1.0974 1.1385 0.0381 -0.5397 ...
 $ : num [1:75] 2.529 3.133 0.915 2.794 1.578 ...

`unlist` : 벡터의 리스트를 단일 벡터로 플랫하게 만들기

In [14]:
str(unlist(out))

 num [1:248] 0.4274 0.0549 -0.223 1.2001 0.123 ...

In [15]:
df <- tibble(
    a = rnorm(10),
    b = rnorm(10),
    c = rnorm(10),
    d = rnorm(10)
    )

In [16]:
map_dbl(df, mean)

          a           b           c           d
-0.36204819 -0.71684017  0.63935285  0.01246277

`map` : 함수를 적용시켜 리스트로 출력해주는 함수<br>
`map(x,f)` 형태

> - 리스트로 출력해준다고 했는데 뒤에 접미사 다른 거 붙이면 다른 형태로도 출력가능<br>
map() : 리스트<br>
map_lgl() : 논리형 벡터<br>
map_int() : 정수형 벡터<br>
map_dbl() : 더블형 벡터<br>
map_chr() : 문자형 벡터

`-` 예시

In [17]:
map_dbl(df, mean)

          a           b           c           d
-0.36204819 -0.71684017  0.63935285  0.01246277

In [18]:
map_dbl(df, median)

         a          b          c          d
-0.5422398 -0.8555575  0.8387332 -0.3238755

In [19]:
map_dbl(df, sd)

       a        b        c        d
1.079269 1.226729 0.615238 1.230528

- 파이프 연산자 역시 사용가능

In [20]:
df %>% map_dbl(mean)

          a           b           c           d
-0.36204819 -0.71684017  0.63935285  0.01246277

- 맵 함수는 또한 이름을 유지한다.

In [21]:
z <- list(x = 1:3, y = 4:5)
map_int(z, length)

x y
3 2

`-` 데이터 셋 각 그룹에 선형 모형을 적합하기<br>
- 여기에서 `.`은 현재 리스트 요소를 가르키는 역할이다.

In [22]:
models <- mtcars %>% 
split(.$cyl) %>%
map(~lm(mpg ~ wt, data = .))

In [23]:
models

$`4`

Call:
lm(formula = mpg ~ wt, data = .)

Coefficients:
(Intercept)           wt
     39.571       -5.647


$`6`

Call:
lm(formula = mpg ~ wt, data = .)

Coefficients:
(Intercept)           wt
      28.41        -2.78


$`8`

Call:
lm(formula = mpg ~ wt, data = .)

Coefficients:
(Intercept)           wt
     23.868       -2.192

`-` 같은 방식으로 `.`을 사용하여 $R^2$ 출력

In [24]:
models %>%
map(summary) %>%
map_dbl(~.$r.squared)

        4         6         8
0.5086326 0.4645102 0.4229655

- 아예 이름을 불러 호출하여 추출하는 방법

In [25]:
models %>%
map(summary) %>%
map_dbl("r.squared")

        4         6         8
0.5086326 0.4645102 0.4229655

- 정수형을 사용하여 위치로 요소를 선택할 수도 있다.

In [26]:
x <- list(list(1,2,3), list(4,5,6), list(7,8,9))
x %>%
map_dbl(2)

[1] 2 5 8

## apply함수들(정리)

> `apply` : 행렬의 행 또는 열 방향으로 특정 함수를 적용한다.<br>
ex) `apply(array, 방향, 함수)` 이때, 방향은 1=행, 2=열<br>
대신 위에 나온 것처럼 `apply`는 `array`밖에 입력 안된다.<br>
<br>
> `lapply` : 똑같은데 입력으로 `vector` 또는 `list`를 받아 `list`를 반환한다.<br>
데이터 프레임도 적용가능하다.(데이터 프레임은 `list` 기반이기에)<br>
<br>
> `sapply` : `lapply`에서 `list` 대신 `행렬 or 벡터`로 반환한다.<br>
등등

`-` 예시

In [27]:
x1 <- list(
    c(0.27, 0.37, 0.57, 0.91, 0.20),
    c(0.90, 0.94, 0.66, 0.63, 0.06),
    c(0.21, 0.18, 0.69, 0.38, 0.77)
    )
x2 <- list(
    c(0.50, 0.72, 0.99, 0.38, 0.78),
    c(0.93, 0.21, 0.65, 0.13, 0.27),
    c(0.39, 0.01, 0.38, 0.87, 0.34)
    )

In [28]:
threshold <- function(x, cutoff = 0.9) x[x > cutoff] # 여기서 cutoff는 그냥 명명한 거. 뜻 없음
x1 %>% sapply(threshold) %>% str()

List of 3
 $ : num 0.91
 $ : num 0.94
 $ : num(0)

In [29]:
x2 %>% sapply(threshold) %>% str()

List of 3
 $ : num 0.99
 $ : num 0.93
 $ : num(0)

## 실패 다루기

`safely` : 계산상에 오류가 있는지 확인해준다. 오류가 없으면 error에 NULL로 표기

In [30]:
safe_log <- safely(log)
str(safe_log(10))

List of 2
 $ result: num 2.3
 $ error : NULL

In [31]:
str(safe_log("a"))

List of 2
 $ result: NULL
 $ error :List of 2
  ..$ message: chr "수학함수에 숫자가 아닌 인자가 전달되었습니다"
  ..$ call   : language .Primitive("log")(x, base)
  ..- attr(*, "class")= chr [1:3] "simpleError" "error" "condition"

## 여러가지 map

### map2

In [32]:
mu <- list(5, 10, -3)
sigma <- list(1, 5, 10)
mu %>%
map(rnorm, n = 5) %>%
str()

List of 3
 $ : num [1:5] 5 4.84 5.25 4.08 3.68
 $ : num [1:5] 10.25 9.78 10.39 10.78 12.78
 $ : num [1:5] -1.15 -2.11 -2.37 -2.99 -2.69

- 아래는 다음의 과정을 거쳐 작동된다.

|mu |sigma|map2(mu, sigma, rnorm, n = 10)|
|:---:|:---: |:---:                         |
|5  |  1  |           rnorm(5, 1, n = 10)|
|10 |5    |rnorm(10, 5, n = 10)          |
|-3 |10   |rnorm(-3, 10, n = 10)         |

In [33]:
map2(mu, sigma, rnorm, n = 10)

[[1]]
 [1] 4.349468 4.824740 5.116070 4.438424 4.311806 5.001691 6.025764 5.006237
 [9] 3.415325 4.564354

[[2]]
 [1]  9.389706 12.429471 10.779378 14.175290  7.617637 18.057692 12.668813
 [8]  5.519713  7.042202 12.866884

[[3]]
 [1] -12.126329   8.103758  -2.770993  -8.017821   9.233333  -2.762977
 [7]   2.108530 -16.341511  -8.094548  -6.866350

### pmap

- map3, map4등등 계속 숫자를 올릴 수 없으므로 그 이상은 `pmap`을 사용한다.<br>
`pmap` : map인데 인수를 리스트로 받을 수 있음.

`-` 예시

In [34]:
n <- list(1, 3, 5)
args1 <- list(n, mu, sigma)
args1 %>%
pmap(rnorm) %>%
str()

List of 3
 $ : num 4.53
 $ : num [1:3] 1.13 9.61 3.6
 $ : num [1:5] -9.5 -9.63 -29.9 -11.2 -7.71

`pmap`의 작동 구조는 다음과 같다.

||args1||pmap(args1)|
|:---:|:---:|:---:|:---:|
|1|5|1|rnorm(1, 5, 1)|
|3|10|5|rnorm(3, 10, 5)|
|5|-3|10|rnorm(5, -3, 10)|

- 아예 명령시킬 것을 명명시켜 리스트형태로 넣어서 사용도 가능하다.<br>
위의 방법이 위치에 맞는 함수나 인수들을 받아들이는 거라면 이거는 이름 붙인 것을 꺼내는 방식이라 오류가 더 적다.

In [35]:
args2 <- list(mean = mu, sd = sigma, n = n)
args2 %>%
pmap(rnorm) %>%
str()

List of 3
 $ : num 4.31
 $ : num [1:3] 4.01 15.02 20.1
 $ : num [1:5] -2.02 -14.74 17.28 -7.93 -4.06

- mu, sigma, n 모두 인수의 길이가 같기 때문에 데이터프레임으로 저장하고 사용하는 것도 가능하다.<br>
코드가 복잡하다면 이 방법이 더 유용하다.

In [36]:
params <- tribble(
    ~mean, ~sd, ~n,
    5 ,  1, 1,
    10,  5, 3,
    -3, 10, 5
    )
params

  mean sd n
1  5    1 1
2 10    5 3
3 -3   10 5

In [37]:
params %>%
pmap(rnorm)

[[1]]
[1] 6.150376

[[2]]
[1]  9.89228 19.63102 10.65213

[[3]]
[1] -16.774842   5.896825  -3.897365  12.909033  -2.744616

In [38]:
f <- c("runif", "rnorm", "rpois")
param <- list(
    list(min = -1, max = 1),
    list(sd = 5),
    list(lambda = 10)
    )

In [39]:
f

[1] "runif" "rnorm" "rpois"

In [40]:
param

[[1]]
[[1]]$min
[1] -1

[[1]]$max
[1] 1


[[2]]
[[2]]$sd
[1] 5


[[3]]
[[3]]$lambda
[1] 10

In [41]:
invoke_map(f, param, n = 5) %>% str()

List of 3
 $ : num [1:5] -0.408 0.918 0.437 0.206 0.574
 $ : num [1:5] -1.99 -3.46 -1.99 -4.26 -2.59
 $ : int [1:5] 5 7 6 8 14

### invoke_map

- `pmap`에서 한 술 더 떠서 이름이 지정된 리스트를 불러서 그 이름에 해당하는 함수 적용까지 가능하다.

`invoke_map`의 작동구조는 다음과 같다.

|f|params|invoke_map(f, params, n = 5)|
|:---:|:---:|:---:|
|"runif"|-1,1|runif(min = -1, max = 1, n = 1)|
|"rnorm"|5|rnorm(sd = 5, n = 5)|
|"rpois"|10|rpois(lambda = 10, n = 5)|

`-` 자료를 tribble에 빠르게 넣고 빠르게 적용하기

In [42]:
sim <- tribble(
    ~f, ~params,
    "runif", list(min = -1, max = 1),
    "rnorm", list(sd = 5),
    "rpois", list(lambda = 10)
    )
sim

  f     params
1 runif -1, 1
2 rnorm 5
3 rpois 10

In [43]:
sim %>%
mutate(sim = invoke_map(f, params, n = 10))

  f     params
1 runif -1, 1
2 rnorm 5
3 rpois 10
  sim
1 0.07894134, -0.86898545, -0.15951936, 0.78716288, -0.83887923, 0.91604573, -0.71653860, -0.20937246, 0.73207933, -0.55086865
2 4.6303684, 1.4773254, -6.1243872, -0.3974409, -0.3804220, -1.6938584, 4.8958890, 5.0882558, -8.4444484, 7.0620562
3 16, 13, 14, 13, 13, 7, 11, 6, 7, 10

`some` : 일부 요소가 참인지 알려줌.<br>
`every` : 모든 요소가 참인지 알려줌.

In [44]:
x <- list(1:5, letters, list(10))
x

[[1]]
[1] 1 2 3 4 5

[[2]]
 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

[[3]]
[[3]][[1]]
[1] 10

In [45]:
x %>%
some(is.character)

[1] TRUE

In [46]:
x %>% 
every(is_vector)

[1] TRUE

`detect` : 논리서술이 참인 첫 번째 요소를 찾아준다.<br>
`detect_index` : 논리서술이 참인 첫 번째 요소의 해당 위치를 반환하다.<br>
`head_while` : 벡터의 시작에서부터 논리서술자가 참인 요소들을 반환한다.<br>
`tail_while` : 벡터의 끝에서부터 논리서술자가 참인 요소들을 반환한다.

In [47]:
x <- sample(10)
x

 [1]  9 10  4  5  7  6  1  2  8  3

In [48]:
x %>%
detect(~ . > 5)

[1] 9

In [49]:
x %>%
detect_index(~ . > 5)

[1] 1

In [50]:
x %>%
head_while(~ . > 5)

[1]  9 10

In [51]:
x %>%
tail_while(~ . > 5)

integer(0)

## reduce

- 데이터프레임 리스트가 있을 때, 리스트의 요소를 "조인"해서 하나의 데이터프레임으로 만들어준다.

In [52]:
dfs <- list(
    age = tibble(name = "John", age = 30),
    sex = tibble(name = c("John", "Mary"), sex = c("M", "F")),
    trt = tibble(name = "Mary", treatment = "A")
    )

In [53]:
dfs

$age
# A tibble: 1 × 2
  name    age
  <chr> <dbl>
1 John     30

$sex
# A tibble: 2 × 2
  name  sex
  <chr> <chr>
1 John  M
2 Mary  F

$trt
# A tibble: 1 × 2
  name  treatment
  <chr> <chr>
1 Mary  A

In [54]:
dfs %>% reduce(full_join)

Joining, by = "name"
Joining, by = "name"

  name age sex treatment
1 John 30  M   NA
2 Mary NA  F   A

- 벡터의 리스트가 있을 때, 교집합을 구하는 방법

In [55]:
vs <- list(
    c(1, 3, 5, 6, 10),
    c(1, 2, 3, 7, 8, 10),
    c(1, 2, 3, 4, 8, 9, 10)
    )
vs

[[1]]
[1]  1  3  5  6 10

[[2]]
[1]  1  2  3  7  8 10

[[3]]
[1]  1  2  3  4  8  9 10

In [56]:
vs %>% reduce(intersect)

[1]  1  3 10